{% extends 'app/base.html' %}

{% block title %}Quienes Somos{% endblock %}

{% load static %}

{% block plugins %}

    {# Fancy Box #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

{% endblock %}

{% block contenido %}
    
    {# Mision #}
    <blockquote>
        Brindar un servicio de limpieza integro y eficaz para nuestros clientes.
        <span>Misión</span>
    </blockquote>
    
    {# Vision #}
    <blockquote>
        Trabajamos para brindar una experiencia única con la misma honestidad e 
        entusiasmo que nos caracteriza.
        <span>Visión</span>
    </blockquote>

    {# Galeria #}
    <div class="galeria">
        {% for g in galeria %}
            {% if  g.imagen %}
                <a data-fancybox="gallery" href="{{ g.imagen.url }} ">
                    <img src="{{ g.imagen.url }} ">
                </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock  %}

{% block js %}

    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}