* {
    margin:0;
    padding:0;
}

/**********     HEADER   **************/
body {
    background-color: whitesmoke;
    font-family: "Ubuntu";
    
    
}

header {
    width: 100%;
    height: 80px;
    background-color: #052935;
    display: flex;
    font-size: 18px;
    
}

header > div {
    width: 50%;
}

nav{
    
    display: flex;
    justify-content: flex-end; /*tambien existen flex-star o center  */
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 30px;
    
}

nav > ul > li {
    display: inline;
    margin-left: 10px;
    
}

nav > ul > li > a {
    color:  white;
    text-decoration: none;
}

#contenedor_feriado {
    color: white;
    margin-left: 20px;
    font-size: smaller;   
}
/**********  HAMBURGUER MENU ************/
.menu {
    width: 40px;
    position: absolute; /*absolute quedara flotando*/
    left: 10px;
    top: 10px;
    display: none; /**para ocultar un elemento*/
}


/**************   CONTENEDOR GENERAL     *****************/

#contenido {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1280px; /* contenido solo se estira hasta cierto tamanio*/
    min-height: 80vh; /*80vh: de ViewPort*/
    
}

.contenedor_logo{
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    margin-left: 20px;
    height: 50px;
}

.slider {
    width: 100%;
    height: 400px;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: fill;
}

.servicios {
    display: flex;
    height: auto;
    flex-wrap: wrap;
        
}

.servicios .servicio {
    width: 33.3%;
    height: 300px;
}

.contenedor_servicio > img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}


.servicios .servicio .contenedor_servicio {
    background-color:rgb(228, 235, 239);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.75);
}

.servicios .servicio .contenedor_servicio .detalle {
    text-align: center;
}

.resenas {
    display: flex;
    margin-left: 20px;
    
}

.resena {
    margin: 60px auto;
    padding: 10px 60px 10px 70px;
    position: relative;
    width: 400px;

}

.resena .resena-text {
    color: #333;
    
    font-size: 18px;
    line-height: 1.25em;
    margin-bottom: 12px;
    quotes: "“" "”";
}

.resena .resena-text::before {
    color: #cd0;
    content: open-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    left: 0;
    top: 0;
    position: absolute;
    width: 90px;
}

.resena-text .resena::after {
    content: close-quote;
}
.resena > p {
    color: #999;
}

/************  INSUMOS   *******************/
.form {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 300px;
}

/*****************  Mision y Vision   *******************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote {
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before {
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/*************************  LOGIN  ****************************/




/*************************  FOOTER  ****************************/

footer {
    width: 100%;
    height: 80px;
    background-color: #78C0A8;
    background: rgb(2,0,36);
    background: linear-gradient(255deg, rgba(2,0,36,1) 0%, rgba(5,41,53,1) 20%, rgb(36, 163, 189) 100%);
  }

footer > div > nav {
	height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div > nav > ul > li > p {
    color:  grey;
    text-decoration: none;
}

footer > div > nav > ul > li > span {
    color:  white;
    text-decoration: none;
    font-size: small;
}

footer > div > nav > ul > li  {
    color:  white;
    
    
}

/*************************GALERIA****************************/

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* ajustar fotos de galeria*/
.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

/*************************CONTACTO****************************/
#div-map {
    width: 100%;
    height: 400px;
}

#div-map #map {
    width: 100%;
    height: 400px;
}

/*************************MEDIA QUERIES****************************/

/*TABLET*/
@media(max-width:1024px) {

    .galeria {
        grid-template-columns: 1fr 1fr;
    }
    .servicios .servicio {
        width: 50%;
    }
    
    .resenas .resena {
        width: 50%;
        
        
    }
    
    #contenido {
        width: 100%;
        height: 100%;
        margin: auto;
        max-width: 1280px; /* contenido solo se estira hasta cierto tamanio*/
        min-height: 80vh; /*80vh: de ViewPort*/
    }

    #contenedor_feriado {
        
        display: inline-block;
        font-size: smaller;   
    }
}


/**************** SMARTPHONE ****************/
@media(max-width:480px) {

    #contenido {
        margin-top: 60px;
    }
    
    #contenedor_feriado {
        display: none;   
    }

    .menu{
        display: block;
    }
    
    .contenedor_logo {
        justify-content: center;
    }

    .logo{
        margin-top: 9px;
        height: 40px;
    }

    .banner {
        height:300px;
    }
     
    .slider {
        height:300px;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .servicios .servicio {
        width: 100%;
    }
    
    .resenas {
        flex-wrap: wrap;
    
    }

    .resenas .resena {
        width: 100%;
        flex-wrap: wrap; 
    }

    header {
        flex-direction: column;
        height: 60px;
        /*transition: all 1s;*/
        overflow: hidden;
    }

    header > div {
        width: 100%;
    }

    nav {
        justify-content: center;
        
    }
    
    nav > ul {
        margin: 0;
    }

    nav > ul > li {
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    footer > div > nav > ul > li > span {
        
        font-size: smaller;
        text-align: center;
        
        
    }
    footer > div > nav > ul > li {
        display: inline-block;
        margin-left: 20px;

    }



}
